body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5f2c82, #49a09d);
  color: #fff;
}

.calculator {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  height: 50vh;
  width: 385px;
  text-align: center;
  transition: all 0.3s ease;
}

.calculator:hover {
  transform: scale(1.02);
}

h2 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
  letter-spacing: 1px;
}

.inputs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input, select, button {
  border: none;
  border-radius: 8px;
  padding: 1.3rem;
  font-size: 1rem;
}

input, select {
  width: 100%;
  background: rgba(255,255,255,0.2);
  color: #000000;
  outline: none;
}

input::placeholder {
  color: #ffffff;
}

select {
  margin-bottom: 1rem;
}

button {
  flex: 1;
  width: 215px;
  background: #49a09d;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;

}

button:hover {
  background: #5f2c82;
}

.reset {
  background: #f44336;
  width: 160px;
}

.result {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  background: rgba(255,255,255,0.15);
  padding: 0.5rem;
  border-radius: 8px;
}