name: Calculatrice CICD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Lint JS
        run: npx eslint script.js --max-warnings=0

      - name: Test (vérifie le fichier JS existe)
        run: |
          if [ ! -f "script.js" ]; then
            echo "script.js introuvable"
            exit 1
          fi
          echo "script.js présent"

      - name: Build (zip)
        run: |
          mkdir dist
          cp index.html style.css script.js dist/
          zip -r dist.zip dist

      - name: Deploy (optionnel SSH)
        if: ${{ secrets.SSH_HOST }}
        uses: appleboy/scp-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_PASS }}
          port: ${{ secrets.DEPLOY_PATH }}
          source: "dist/*"
          target: ${{ secrets.DEPLOY_PATH }}